# Dependencies
node_modules

# Build outputs
admin-ui-plugin/.nuxt
admin-ui-plugin/.output
admin-ui-plugin/.data
admin-ui-plugin/dist
admin-ui-plugin/dist.bak
admin-ui-plugin/node_modules
components/dist
components/node_modules

# Environment files
.env
.env.*.local

# Logs
*.log

# IDE
.vscode/settings.json
.idea/
