# Dependencies
node_modules

# Build outputs
admin-ui-plugin/.nuxt
admin-ui-plugin/.output
admin-ui-plugin/.data
components/dist

# Environment files
.env
.env.*.local

# Logs
*.log

# IDE
.vscode/settings.json
.idea/
