# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE
/.idea/
/.settings/
/.project
/.classpath
/.factorypath
/.vscode/settings.json

# Gradle
/.gradle/
/build/
/*/build/

# Package Files
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Node
node_modules/

/dsl-platform/.gradle/
/dsl-platform/build/
/dsl-platform/dsl/build/
/dsl-platform/dsl-api/build/
/dsl-platform/dsl-codegen/build/
/dsl-platform/misc-codegen/build/

/dsl-plugins/.gradle/
/dsl-plugins/.intellijPlatform/
/dsl-plugins/build/
/dsl-plugins/dsl-gradle-plugin/.gradle/
/dsl-plugins/dsl-gradle-plugin/build/
/dsl-plugins/dsl-idea-plugin/.codegraph/
/dsl-plugins/dsl-idea-plugin/build/

/dsl-starter/.gradle/
/dsl-starter/build/
/dsl-starter/dsl-examples/build/
/dsl-starter/starter/build/
/dsl-starter/starter-launcher/.gradle/
/dsl-starter/starter-launcher/build/
/dsl-starter/starter/.jqwik-database
/dsl-starter/dsl-examples/.workbench/
